@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
.title-h1, .header__title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.4rem;
  color: #28283D;
}

@media (min-width: 768px) {
  .title-h1, .header__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
@media (min-width: 1100px) {
  .title-h1, .header__title {
    font-size: 6.4rem;
    line-height: 6.8rem;
  }
}
.title-h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.6rem;
  color: #28283D;
  text-align: center;
}

@media (min-width: 768px) {
  .title-h2 {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.text-overline, .main__title {
  font-size: 1.6em;
  font-weight: 900;
  line-height: 2.6rem;
  color: #4D96A9;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
}

.text-body-sm, .header__text, .main .text-main {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-align: center;
  color: #87879D;
}

.text-body-md, .footer__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.button, .button-purple, .button-green {
  height: 5.8rem;
  border-radius: 3rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFAFA;
  padding: 1.6rem 4rem;
  font-size: 1.6rem;
  width: max-content;
  font-weight: 900;
}

.button-green {
  background-color: #4D96A9;
}
.button-green span {
  color: #8FE3F9;
  margin-left: 0.4rem;
}

.button-purple {
  background-color: #855FB1;
}
.button-purple span {
  color: #D9B8FF;
  margin-left: 0.4rem;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 86%;
  margin: 0 auto;
}

.indicator {
  margin: 6.4rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.indicator .line {
  width: 1.25px;
  height: 8.4rem;
  background: #87879D;
  margin: 0 auto;
}
.indicator span {
  z-index: 2;
  font-size: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #87879D;
  border-radius: 200rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

.header {
  margin-top: 4.8rem;
  width: 100%;
}
.header__logo {
  margin: 0 auto;
  width: 12rem;
}
.header__logo img {
  width: 100%;
}
.header__banner {
  aspect-ratio: 1/1;
  background-image: url("../assets/tablet/image-hero.png"), url("../assets/tablet/image-hero.png");
  background-size: 110%;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  max-height: 16rem;
  margin: 5.2rem auto 4.6rem;
}
.header__title {
  text-align: center;
  margin-bottom: 2.4rem;
}
.header__text {
  text-align: center;
  color: #87879D;
}
.header__buttons {
  margin: 3.2rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 6.4rem;
}
.main .galerie {
  width: 100%;
  margin: 0 auto 6.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-items: center;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}
.main .galerie img {
  width: 100%;
  border-radius: 0.8rem;
}
.main__title {
  margin-bottom: 2.4rem;
  text-align: center;
}
.main .text-main {
  margin: 3.2rem auto 6.4rem;
}

.footer {
  width: 100%;
  background-size: cover;
  margin: -2.6rem auto 0;
  background-image: url("../assets/mobile/image-footer.jpg");
  color: #FAFAFA;
}
.footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(77, 150, 169, 0.9);
  z-index: 1;
  padding: 0 3.2rem;
}
.footer .title-h2 {
  color: #FAFAFA;
  margin-top: 10rem;
}
.footer__text {
  margin: 2.4rem 0 3.2rem;
}
.footer button {
  margin-bottom: 4.2rem;
}
.footer .attribution {
  display: flex;
  align-items: center;
  height: 5rem;
}
.footer .attribution a {
  color: #8FE3F9;
}

/*# sourceMappingURL=styles.css.map */
