@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
.title-h1, .header__title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.4rem;
  color: #28283D;
}

@media (min-width: 768px) {
  .title-h1, .header__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
@media (min-width: 1100px) {
  .title-h1, .header__title {
    font-size: 6.4rem;
    line-height: 6.8rem;
  }
}
.title-h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.6rem;
  color: #28283D;
  text-align: center;
}

@media (min-width: 768px) {
  .title-h2 {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.text-overline, .main__title {
  font-size: 1.6em;
  font-weight: 900;
  line-height: 2.6rem;
  color: #4D96A9;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
}

.text-body-sm, .header__text, .main__text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-align: center;
  color: #87879D;
}

.text-body-md, .footer__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.button, .button-purple, .button-green {
  height: 5.8rem;
  border-radius: 3rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFAFA;
  padding: 1.6rem 4rem;
  font-size: 1.6rem;
  width: max-content;
  font-weight: 900;
  cursor: pointer;
}

.button-green {
  background-color: #4D96A9;
}
.button-green span {
  color: #8FE3F9;
  margin-left: 0.4rem;
}

.button-green:hover {
  background-color: #71C0D4;
}

.button-purple {
  background-color: #855FB1;
}
.button-purple span {
  color: #D9B8FF;
  margin-left: 0.4rem;
}

.button-purple:hover {
  background-color: #B18BDD;
}

.indicator {
  margin: 6.4rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.indicator .line {
  width: 1.25px;
  height: 8.4rem;
  background: #87879D;
  margin: 0 auto;
}
.indicator span {
  z-index: 2;
  font-size: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #87879D;
  border-radius: 200rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .indicator {
    margin: 8rem auto 0;
  }
}
.galerie {
  width: 100%;
  margin: 0 auto 6.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}
.galerie img {
  width: 100%;
  border-radius: 0.8rem;
}

@media (min-width: 768px) {
  .galerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.1rem;
  }
}
@media (min-width: 1100px) {
  .galerie {
    width: 110rem;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  margin-top: 4.8rem;
  width: 100%;
}
.header__logo {
  margin: 0 auto;
  width: 12rem;
}
.header__logo img {
  width: 100%;
}
.header__banner {
  aspect-ratio: 1/1;
  background-image: url("../assets/tablet/image-hero.png");
  background-size: 110%;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  max-height: 18rem;
  margin: 4.2rem auto 3.6rem;
}
.header__title {
  width: 28rem;
  text-align: center;
  margin: 0 auto 2.4rem;
}
.header__text {
  width: 33rem;
  text-align: center;
  margin: auto;
  color: #87879D;
}
.header__buttons {
  margin: 3.2rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .header__banner {
    background-size: 105%;
    max-height: 30.5rem;
    margin: 6.4rem auto 0rem;
  }
  .header__info {
    width: 45rem;
  }
  .header__title {
    width: 40rem;
    margin: 7.2rem auto 2.4rem;
  }
  .header__buttons {
    margin: 3.2rem auto 0;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .header__banner {
    display: none;
  }
  .header__info {
    width: 100%;
    background-image: url("../assets/desktop/image-hero-left.png"), url("../assets/desktop/image-hero-right.png");
    background-position: top left, top 5.5rem right;
    background-repeat: no-repeat;
    margin: 6.1rem auto;
    position: relative;
  }
  .header__title {
    width: 45rem;
    padding-top: 5.5rem;
    margin: 0rem auto 3.4rem;
  }
  .header__text {
    width: 54rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
  }
}
.main {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h2 {
  width: 33rem;
}
.main__text {
  margin: 3.2rem auto 0;
}
.main__title {
  width: 33rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .main {
    margin-top: 6.7rem;
  }
  .main h2 {
    width: 44rem;
  }
  .main__text {
    width: 57rem;
    margin: 3.2rem auto 0;
  }
}
@media (min-width: 1100px) {
  .main {
    margin-top: 8rem;
  }
  .main__text {
    width: 52rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2.8rem;
  gap: 3.2rem;
  position: relative;
  color: #FAFAFA;
}
.footer__content {
  margin: 9.8rem auto 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.footer__content h2 {
  color: #FAFAFA;
}
.footer__text {
  text-align: center;
}
.footer__attribution {
  margin-bottom: 3.2rem;
  z-index: 2;
}
.footer__attribution a {
  color: #8FE3F9;
}

.footer::after {
  content: "";
  width: 100%;
  background-color: rgba(77, 150, 169, 0.9);
  position: absolute;
  height: 100%;
}

@media (min-width: 768px) {
  .footer {
    background-image: url("../assets/tablet/image-footer.jpg");
  }
  .footer h2 {
    width: 45rem;
  }
  .footer__text {
    width: 57rem;
  }
}
@media (min-width: 1100px) {
  .footer__content {
    width: 110rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  .footer h2, .footer__text {
    text-align: left;
  }
  .footer__text {
    width: 35rem;
  }
  .footer button {
    justify-self: end;
  }
}

/*# sourceMappingURL=styles.css.map */
