@use 'variables'

.title-h1
    font-size: 4rem
    font-weight: 900
    line-height: 4.4rem
    color: variables.$black

@media (min-width: 768px)
    .title-h1
        font-size: 4.8rem
        line-height: 4.8rem

@media (min-width: 1100px)
    .title-h1
        font-size: 6.4rem
        line-height: 6.8rem

.title-h2
    font-size: 3.2rem
    font-weight: 900
    line-height: 3.6rem
    color: variables.$black
    text-align: center

@media (min-width: 768px)
    .title-h2
        font-size: 4rem
        line-height: 4.4rem

.text-overline
    font-size: 1.6em
    font-weight: 900
    line-height: 2.6rem
    color: variables.$blueGreen
    text-transform: uppercase
    letter-spacing: 0.4rem
    text-align: center

.text-body-sm
    font-size: 1.6rem
    font-weight: 500
    line-height: 2.6rem
    text-align: center
    color: variables.$grey

.text-body-md
    font-size: 1.8rem
    font-weight: 500
    line-height: 2.6rem

.button
    height: 5.8rem
    border-radius: 3rem
    border: none
    display: flex
    align-items: center
    justify-content: center
    color: variables.$white
    padding: 1.6rem 4rem
    font-size: 1.6rem
    width: max-content
    font-weight: 900

.button-green
    @extend .button
    background-color: variables.$blueGreen
    span
        color: variables.$blue
        margin-left: 0.4rem

.button-purple
    @extend .button
    background-color: variables.$purple
    span
        color: variables.$purpleLight
        margin-left: 0.4rem

.indicator
    margin: 6.4rem auto 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .line
        width: 1.25px
        height: 8.4rem
        background: variables.$grey
        margin: 0 auto
    span
        z-index: 2
        font-size: 1.6rem
        width: 5.6rem
        height: 5.6rem
        border: 1px solid variables.$grey
        border-radius: 200rem
        display: flex
        align-items: center
        justify-content: center
        background-color: variables.$white

@media (min-width:768px)
    .indicator
        margin: 8rem auto 0

.galerie
    width: 100%
    margin: 0 auto 6.4rem
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    align-content: center
    justify-items: center
    row-gap: 2.4rem
    column-gap: 2.4rem
    img
        width: 100%
        border-radius: 0.8rem

@media (min-width:768px)
    .galerie
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 1fr
        gap: 1.1rem
