@use 'variables'
@use 'components'

*, ::before, ::after
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 62.5%

body
    font-family: variables.$font

.container
    width: 90%

    margin: 0 auto

.header
    margin-top: 4.8rem
    width: 100%
    &__logo
        margin: 0 auto
        width: 12rem
        img
            width: 100%
    &__banner
        aspect-ratio: 1/1
        background-image: url('../assets/tablet/image-hero.png')
        background-size: 110%
        background-repeat: no-repeat
        width: 100%
        background-position: center
        max-height: 18rem
        margin: 4.2rem auto 3.6rem
    &__title
        @extend .title-h1
        width: 28rem
        text-align: center
        margin: 0 auto 2.4rem
    &__text
        width: 33rem
        @extend .text-body-sm
        text-align: center
        margin: auto
        color: variables.$grey
    &__buttons
        margin: 3.2rem auto 0
        display: flex
        flex-direction: column
        gap: 1.6rem
        justify-content: center
        align-items: center

@media (min-width:768px)
    .header
        &__banner
            background-size: 105%
            max-height: 30.5rem
            margin: 6.4rem auto 0rem
        &__info
            width: 45rem
        &__title
            width: 40rem
            margin: 7.2rem auto 2.4rem
        &__buttons
            margin: 3.2rem auto 0
            display: flex
            flex-direction: row

@media (min-width:1100px)
    .header
        &__banner
            display: none
        &__info
            width: 100%
            background-image: url('../assets/desktop/image-hero-left.png'), url('../assets/desktop/image-hero-right.png')
            background-position: top left, top 5.5rem right
            background-repeat: no-repeat
            margin: 6.1rem auto
            position: relative
        &__title
            width: 45rem
            padding-top: 5.5rem
            margin: 0rem auto 3.4rem
        &__text
            width: 54rem
            font-size: 1.8rem
            font-weight: 500
            line-height: 2.6rem

.main
    margin-top: 6.4rem
    display: flex
    flex-direction: column
    align-items: center
    h2
        width: 33rem
    &__text
        @extend  .text-body-sm
        margin: 3.2rem auto 0
    &__title
        width: 33rem
        @extend .text-overline
        margin-bottom: 2.4rem
        text-align: center

@media (min-width:768px)
    .main
        margin-top: 6.7rem
        h2
            width: 44rem
        &__text
            width: 57rem
            margin: 3.2rem auto 0

@media (min-width:1100px)
    .main
        margin-top: 8rem
        &__text
            width: 52rem
            font-size: 1.8rem
            font-weight: 500
            line-height: 2.6rem

.footer
    width: 100%
    height: auto
    background-image: url('../assets/mobile/image-footer.jpg')
    background-size: cover
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: -2.8rem
    gap: 3.2rem
    position: relative
    color: variables.$white
    &__content
        margin: 9.8rem auto 3.2rem
        display: flex
        flex-direction: column
        gap: 3.4rem
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 2
        h2
            color: variables.$white
    &__text
        @extend .text-body-md
        text-align: center
    &__attribution
        margin-bottom: 3.2rem
        z-index: 2
        a
            color: variables.$blue

.footer::after
    content: ''
    width: 100%
    background-color: rgba(variables.$blueGreen, .9)
    position: absolute
    height: 100%

@media (min-width:768px)
    .footer
        background-image: url('../assets/tablet/image-footer.jpg')
        h2
            width: 45rem
        &__text
            width: 57rem

@media (min-width:1100px)
    .footer
        &__content
            width: 110rem
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 0
        h2, &__text
            text-align: left
        &__text
            width: 35rem
        button
            justify-self: end
